In [75]:
#https://www.kaggle.com/code/kaustubhshirpurkar/exploring-titanic-data-using-pandas-dataframes
#check previous page

import pandas as pd
import numpy as np

train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

In [76]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [77]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [78]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [79]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [93]:
cols=train.columns

for lab in cols :
    print(lab)
    print(len(train[lab].unique()))

PassengerId
891
Survived
2
Pclass
3
Name
891
Sex
2
Age
88
SibSp
7
Parch
7
Ticket
681
Fare
248
Cabin
147
Embarked
3
FareBand
3
AgeBand
3

In [81]:
numbers_train = train.select_dtypes(np.number)
cad_train = train.select_dtypes(exclude=[np.number])
print(numbers_train.columns)
print(cad_train.columns)

numbers_test = test.select_dtypes(np.number)
cad_test = test.select_dtypes(exclude=[np.number])
print(numbers_test.columns)
print(cad_test.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')
Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [82]:
NUMERIC_COLUMNS = train.select_dtypes(np.number)
CATEGORICAL_COLUMNS = train.select_dtypes(exclude=[np.number])
    
    #FILL NANS TRAIN DATA
    
for num in NUMERIC_COLUMNS:
    if (num != 'Survived') :
        train.loc[train['Survived']==0,num] = train.loc[train['Survived']==0,num].fillna(train.loc[train['Survived']==0,num].median())
        train.loc[train['Survived']==1,num] = train.loc[train['Survived']==1,num].fillna(train.loc[train['Survived']==1,num].median())
    
for cat in CATEGORICAL_COLUMNS:
    train.loc[train['Survived']==0,cat] = train.loc[train['Survived']==0,cat].fillna(train.loc[train['Survived']==0,cat].mode()[0])
    train.loc[train['Survived']==1,cat] = train.loc[train['Survived']==1,cat].fillna(train.loc[train['Survived']==1,cat].mode()[0])
    

print(train.isnull().sum())
print()
NUMERIC_COLUMNS = numbers_test.columns
CATEGORICAL_COLUMNS = cad_test.columns

test.loc[:, NUMERIC_COLUMNS] = test.loc[:, NUMERIC_COLUMNS].fillna(-1)
test.loc[:, CATEGORICAL_COLUMNS] = test.loc[:, CATEGORICAL_COLUMNS].fillna('no info')

print(test.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [83]:
from sklearn.preprocessing import LabelEncoder

def convert_data(ofus_matrix):

    matrix = np.zeros(ofus_matrix.shape) -1

    for i in range(ofus_matrix.shape[1]):
        attributes = ofus_matrix[:,i]
        if ( isinstance(attributes[0], (int, float)) == False):
            le = LabelEncoder()
            le.fit(attributes)
            matrix[:,i] = le.transform(attributes)
            
        else:
            matrix[:,i] = np.nan_to_num(attributes)
    return matrix

train_numpy= convert_data(train.to_numpy())
print(train_numpy)

[[  1.       0.       3.     ...   7.25    56.       2.    ]
 [  2.       1.       1.     ...  71.2833  81.       0.    ]
 [  3.       1.       3.     ...   7.925   47.       2.    ]
 ...
 [889.       0.       3.     ...  23.45    56.       2.    ]
 [890.       1.       1.     ...  30.      60.       0.    ]
 [891.       0.       3.     ...   7.75    56.       1.    ]]

In [31]:
print(train['Age'].describe())
train.loc[train['Age']<0,'Age'] = 0
train.loc[ (train['Age']>=0) & (train['Age']<=30) ,'Age'] = 1
train.loc[ (train['Age']>30) & (train['Age']<=50) ,'Age'] = 2
train.loc[train['Age']>50,'Age'] = 3
print()
print(train['Age'].unique())

count    891.000000
mean      23.600640
std       17.867496
min       -1.000000
25%        6.000000
50%       24.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

[1. 2. 3.]

In [89]:

print(pd.crosstab(train['Cabin'], train['Sex']))

train['FareBand'] = pd.qcut(train['Fare'],3)
train['AgeBand'] = pd.qcut(train['Age'],3)

print(train[['Fare', 'Survived']].groupby(['Fare'], as_index=False).mean().sort_values(by='Fare', ascending=True))
print(train[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True))
print(train[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True))

Sex    female  male
Cabin
A10         0     1
A14         0     1
A16         1     0
A19         0     1
A20         0     1
...       ...   ...
F33         3     0
F38         0     1
F4          1     1
G6          4     0
T           0     1

[147 rows x 2 columns]
         Fare  Survived
0      0.0000  0.066667
1      4.0125  0.000000
2      5.0000  0.000000
3      6.2375  0.000000
4      6.4375  0.000000
..        ...       ...
243  227.5250  0.750000
244  247.5208  0.500000
245  262.3750  1.000000
246  263.0000  0.500000
247  512.3292  1.000000

[248 rows x 2 columns]
          FareBand  Survived
0  (-0.001, 8.662]  0.198052
1    (8.662, 26.0]  0.402778
2  (26.0, 512.329]  0.559322
         AgeBand  Survived
0  (0.419, 25.0]  0.411960
1   (25.0, 31.0]  0.335526
2   (31.0, 80.0]  0.405594